.shop-listing-conteiner {

   border: 1px solid #2efd05;

}

.shop-listing-row {
   .row-flex();

   border: 1px solid #000;

}

.shop-listing {

   .col();
   .size(9);

   border: 3px solid #fd05b3;

}