.history-blok {

   /* .history-blok__row */



   &__row {
      .row-flex();
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 100px;
      justify-content: space-between;
   }

   /* .history-blok__title */

   &__title {
      font-size: 35px;
      font-family: "PlayfairDisplay";
      color: rgb(20, 20, 29);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      .col();
      .size(4);
   }

   /* .history-blok__text */

   &__text {
      .col();
      .size(8);
      min-height: 95px;
      font-size: 14px;
      font-family: "Sintony";
      color: rgb(92, 99, 105);
      line-height: 1.857;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 60px;

   }

   /* .history-blok__video */

}

.video-blok-history {
   .col();
   .size(10);

   border-bottom: 1px solid #e3e3e3;
   /* .video-blok-history__description */

   &__description {
      font-size: 13px;
      font-family: "Sintony";
      color: rgb(20, 20, 29);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.308;
      padding-top: 20px;
      padding-bottom: 20px;
   }
}

.wrap-video {
   height: 446px;
}

.background-coocs {
   height: 640px;
   background-color: #e4e8ea;
}

.coocs {
   position: relative;
   top: 50%;
   transform: translate(0, -50%);

   height: 450px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;


   /* .coocs__row */

   &__row {}

   /* .coocs__title */

   &__title {
      font-size: 35px;
      font-family: "PlayfairDisplay";
      color: rgb(20, 20, 29);
      font-weight: bold;
      line-height: 0.629;
   }
}

.swiper {}

.swiper-coocs {

   height: 380px;
   width: 100%;



   border: 1px solid rgb(50, 4, 252);

   /* .swiper-coocs__card */

   &__card {


      // .col();
      // .size(3);
      width: 260px !important;
      height: 330px !important;


      border: 1px solid rgb(233, 69, 118);
   }

   /* .swiper-coocs__card */

   &__img {
      height: 270px;
   }

   /* .swiper-coocs__scrollbar */

   &__pagination {

      height: 20px;
      width: 200px;

      // bottom: 100px;



      border: 1px solid #000;

   }
}

.swiper-wrapper {}

.swiper-slide {}

.swiper-scrollbar {}