  @width-article: 845px;




  .articles-conteiner {
     display: flex;
     justify-content: space-between;

     margin-top: 100px;
     margin-bottom: 100px;

     .to(1180px, {
        /*перевод в выпадающее меню*/
        justify-content: center;
     });


  }

  .articles-page-row {
     .row-flex();
     justify-content: center;



     .to(1040px, {
        max-width: 1040px;
        overflow-x: hidden;
        border: 3px solid #fd0596;

     });


  }

  .article-row {
     .col();
     .size(8.7);

     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;
     row-gap: 100px;

     .to(1040px, {
        /*перевод в выпадающее меню*/
        .size(10);
        // align-items: center;
     });



  }