.background__dish {
   background-image: url("../img/dish.jpg");
}

#dish {
   height: 570px;
   display: flex;
   color: #ffffff;
   position: relative;
}

.img-text {
   font-size: 24px;
   font-family: "Sintony";
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
   padding-top: 111px;
}

.dish-title {
   align-self: center;
   width: 480px;

   &__title {
      font-size: 56px;
      font-family: "PlayfairDisplay";
      margin: 0px 0 -5px 0;
   }

   &__subtitle-title {
      font-family: "PlayfairDisplay";
      font-size: 40px;
      margin: 0px;
   }

   &__subtitle-title span {
      color: #fea100;
   }

}




.exlore-food-menu {
   width: 200px;
   height: 210px;
   font-size: 22px;
   font-family: PlayfairDisplay;
   display: flex;
   align-items: center;
   justify-content: center;

   background: url("../img/exlore-food-menu-block.png") 0 0 no-repeat;
   position: absolute;
   bottom: -80px;

   img {
      height: 84px;
      width: 84px;
      position: absolute;
      top: -40px;
      z-index: 10;
   }

   p {
      width: 110px;
      text-align: center;
   }
}