 @import './parts/button-orange.less';


 #restaurant-menu {
    min-height: 1235px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    padding-top: 550px;

    h1 {
       font-size: 35px;
       font-family: "PlayfairDisplay";
       color: rgb(20, 20, 29);
       font-weight: bold;
       line-height: 0.629;
       text-transform: capitalize;
    }

    .wrap-img {

       /* .wrap-img__311x311 */

       &__311x311 {
          height: 311px;
          width: 311px;
          top: 270px;
          right: -100px;
          position: absolute;
          z-index: -1;
       }

       /* .wrap-img__267x414 */

       &__267x414 {
          height: 414px;
          width: 267px;
          top: 550px;
          left: -400px;
          position: absolute;
       }

       /* .wrap-img__241x241 */

       &__241x241 {
          height: 241px;
          width: 241px;
          bottom: -91px;
          right: 60px;
          position: absolute;
          z-index: 2;
       }
    }


 }

 .wrap-nenu {}

 .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 30px;

    display: none;

    span {
       width: inherit;
       height: 2px;
       background-color: #000;
    }
 }

 .menu {


    /* .menu__list */

    &__list {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
       //  height: 170px;
       height: 50px;

    }

    /* .menu__item */

    &__item {

       display: flex;
       flex-direction: column;
       align-items: center;

       &:not(:last-child) {
          margin-right: 50px;
       }

       img {
          width: 25px;
          height: 25px;
          margin-bottom: 12px;
       }
    }

    /* .menu__link */

    &__link {
       font-size: 15px;
       font-family: "PlayfairDisplay";
       text-transform: capitalize;
       color: rgb(20, 20, 29);
       font-weight: bold;
       line-height: 1.1;
    }

    /* .menu__sub-menu-list */

    &__sub-menu-list {
       display: none;
    }

    /* .menu__sub-item */

    &__sub-item {}

    /* .menu__sub-link */

    &__sub-link {}
 }

 .wrap-nenu__border {

    border-bottom: 1px dotted #a3b0ba;
    width: @width_wraper;
    height: 25px;
    margin-bottom: 55px;
 }

 .row-dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    min-height: 390px;
    z-index: 2;
 }

 .dish__row {
    margin-bottom: 50px;
 }


 .col-dish {
    width: calc(50% - @offset_one_side);
 }

 .dish {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #eeeeee;


    /* .dish__title */

    &__title {

       font-size: 16px;
       font-family: "Sintony";
       color: rgb(20, 20, 29);
       font-weight: bold;
       text-transform: uppercase;
       line-height: 1.063;

       p {
          font-size: 14px;
          font-family: "Sintony";
          font-weight: 400;
          color: rgb(92, 99, 105);
          line-height: 1.857;
          text-transform: none;
       }
    }

    .price {
       width: 125px;
    }
 }