 @import './parts/button-orange.less';


 #restaurant-menu {
    min-height: 1235px;
    //  padding-top: 555px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;


    h1 {
       font-size: 35px;
       font-family: "PlayfairDisplay";
       color: rgb(20, 20, 29);
       font-weight: bold;
       line-height: 0.629;
       text-transform: capitalize;



    }

 }


 .wrap-nenu {}

 .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 30px;

    display: none;

    span {
       width: inherit;
       height: 2px;
       background-color: #000;
    }
 }

 .menu {


    /* .menu__list */

    &__list {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
       //  height: 170px;
       height: 50px;

    }

    /* .menu__item */

    &__item {

       display: flex;
       flex-direction: column;
       align-items: center;

       &:not(:last-child) {
          margin-right: 50px;
       }

       img {
          width: 25px;
          height: 25px;
          margin-bottom: 12px;
       }
    }

    /* .menu__link */

    &__link {
       font-size: 15px;
       font-family: "PlayfairDisplay";
       text-transform: capitalize;
       color: rgb(20, 20, 29);
       font-weight: bold;
       line-height: 1.1;
    }

    /* .menu__sub-menu-list */

    &__sub-menu-list {
       display: none;
    }

    /* .menu__sub-item */

    &__sub-item {}

    /* .menu__sub-link */

    &__sub-link {}
 }

 .wrap-nenu__border {

    border-bottom: 1px dotted #a3b0ba;
    width: @width_wraper;
    height: 25px;
 }

 .row-dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 390px;
 }

 .col-dish {
    width: calc(50% - @offset_one_side);

 }

 .dish {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;

    /* .dish__title */

    &__title {

       font-size: 16px;
       font-family: "Sintony";
       color: rgb(20, 20, 29);
       font-weight: bold;
       text-transform: uppercase;
       line-height: 1.063;

       p {
          font-size: 14px;
          font-family: "Sintony";
          font-weight: 400;
          color: rgb(92, 99, 105);
          line-height: 1.857;
          text-transform: none;
       }
    }

 }