.background__today {
   background-color: #4c5659;
   height: 440px;
   position: relative;
   z-index: -1;

   img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      /* или более подходящее значение*/
      object-position: center;
   }
}