 @import './smart-grid.less';
 @import (less) '../../node_modules/normalize.css/normalize.css';
 @import "fonts";




 * {
    box-sizing: border-box;
 }

 a {
    text-decoration: none
 }

 .debug-grid {
    .debug(rgba(187, 241, 250, 0.1), 1px rgba(201, 202, 191, 0.5) solid)
 }

 .conteiner {
    .wrapper();
 }

 .background {
    max-width: 1970px;
    margin: 0 auto;
 }

 .wrap-img {
    position: relative;
    overflow: hidden;
    min-height: 10px;

    img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       /* или более подходящее значение*/
       object-position: center;
       position: absolute;
       top: 0;
       left: 0;

    }
 }


 @import 'sections/header.less';
 @import 'sections/dish.less';
 @import 'sections/about.less';
 @import 'sections/today.less';
 @import 'sections/restaurant-menu.less';
 @import 'sections/clients.less';
 @import 'sections/reserve.less';
 @import 'sections/footer.less';