 @import './smart-grid.less';
 @import (less) '../../node_modules/normalize.css/normalize.css';
 @import "fonts";




 * {
    box-sizing: border-box;
 }

 a {
    text-decoration: none
 }

 .debug-grid {
    .debug(rgba(187, 241, 250, 0.1), 1px rgba(201, 202, 191, 0.5) solid)
 }

 .conteiner {
    .wrapper();
 }

 .background {
    max-width: 1970px;
    margin: 0 auto;
 }


 @import 'sections/header.less';
 @import 'sections/dish.less';
 @import 'sections/about.less';







 #today {
    background-color: #4c5659;
 }

 #menu {
    background-color: #ffffff;
 }

 #clients {
    background-color: #fa4889;
 }

 #reserve {
    background-color: #fff;
 }

 //  .row {

 //     .row-flex();

 //     align-items: center;
 //     justify-content: space-around;
 //     height: 100%;

 //     background-color: #9a9a9b;
 //  }

 .footer {
    height: 510px;
    background-color: #373844;

 }