   //  Адаптивный шрифт источник: https: //youtu.be/HJZP5QsrpXs
   .adaptiv-font(@pcSize, @mobSize) {
      @addSize: @pcSize - @mobSize;
      @maxWidth: @_width_container - @_width_min_viewport;
      font-size: calc(~"@{mobSize}px" + @addSize * ((100vw - ~"@{_width_min_viewport}px") / @maxWidth));
   }