 @import './smart-grid.less';
 @import (less) '../../node_modules/normalize.css/normalize.css';
 @import "fonts";

 .conteiner {
    .wrapper();



    min-height: 200px;
 }

 .header {
    height: 90px;
    background-color: #fff;
 }



 #dish {

    height: 570px;
    background-color: #7d8587;
 }

 #about {
    background-color: #fff;
 }

 #today {
    background-color: #4c5659;
 }

 #menu {
    background-color: #ffffff;
 }

 #clients {
    background-color: #fa4889;
 }

 #reserve {
    background-color: #fff;
 }

 .row {

    .row-flex();

    align-items: center;
    justify-content: space-between;
    height: 100%;

    background-color: #9a9a9b;
 }

 .item {
    height: 100px;
    width: 100px;
    background-color: #0690ec;
 }

 .footer {
    height: 510px;
    background-color: #373844;

 }