 @import './smart-grid.less';
 @import (less) '../../node_modules/normalize.css/normalize.css';
 @import "fonts";

 .conteiner {
    .wrapper();

    //  background-color: rgba(13, 216, 243, 0.1);

    min-height: 200px;
 }

 .background {
    background-image: url("../img/dish.jpg");
 }


 .header {
    height: 90px;
    //  background-color: #fff;
    background-color: rgb(230, 230, 230);
 }



 #dish {
    height: 570px;
    display: flex;
 }

 .dish-title {

    color: #ffffff;
    align-self: center;
 }

 .dish-title__title {
    font-size: 56px;
    font-family: "PlayfairDisplay";
    margin: 0 0 30px 0;

 }

 .dish-title__subtitle-title {
    font-family: "PlayfairDisplay";
    font-size: 40px;
    margin: 0px;

 }

 .dish-title__subtitle-title span {
    color: #fea100;
 }




 #about {
    background-color: #fff;
 }

 #today {
    background-color: #4c5659;
 }

 #menu {
    background-color: #ffffff;
 }

 #clients {
    background-color: #fa4889;
 }

 #reserve {
    background-color: #fff;
 }

 .row {

    .row-flex();

    align-items: center;
    justify-content: space-around;
    height: 100%;

    background-color: #9a9a9b;
 }

 .item {
    .col();

    .size(4);

    height: 150px;
    min-width: 100px;
    background-color: #0690ec;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .footer {
    height: 510px;
    background-color: #373844;

 }