#about {
    min-height: 630px;
    background-color: #fff;

}

.about-row__top-menu {
    font-family: 'Sintony';
    font-weight: 700;
    background-color: #edf1f3;
    min-height: 100px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;

    .md-block({
        height: auto;
        padding: 10px 0;
        flex-direction: column;
        align-items: end;
    });

.xxs-block({
    padding-top: 80px;
    align-items: center;
});


.read {
    .col();
    .size(3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-right: 0px;
    margin-bottom: 15px;
    color: inherit;

    .md-block({
        .size(4);
    });

.xs-block({
    margin-right: 20px;
});



div {
    width: 75px;
    margin: 0 9px;
}

p {
    color: #fea100;
    margin: 0;
}


}

.read__icon {
    width: 44px;
    height: 33px;

}

.read__cercle {
    width: 45px;
    height: 45px;
}



.about-call-us {
    .size(3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: 0px;
    color: inherit;

    .md_1-block({
        justify-content: center;
        align-items: center;
    });

.sm-block({
    margin-top: 10px;
});

.xs-block({
    justify-content: center;
    align-items: center;
});


&__text {
    min-width: 150px;
    width: auto;

    .col();

    p {
        color: #fea100;
        margin: 0px;
    }
}
}

.phone-number {
    font-family: "PlayfairDisplay";
    font-weight: 700;
    font-size: 32px;
    text-align: right;
    min-width: 217px;


}
}

.about-row {
    .row-flex();
    height: inherit;
    justify-content: space-between;
    align-items: center;
    height: 525px;

    .md_1-block({
        justify-content: center;
        height: auto;
        padding: 40px 0;
    });

&__text {
    .col();
    .size(5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 285px;

    .md_1-block({
        padding: 40px 0;
        .size(10);
    });



h2 {
    font-family: "PlayfairDisplay";
    font-size: 33px;
    margin: 0;
}

p {
    font-family: Sintony, FiraSans;
    font-weight: 400;
    font-size: 12.14px;
    line-height: 22.55px;
    color: #878d91;
}

&-buttons {
    font-family: Sintony, FiraSans;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .md_1-block({
        justify-content: space-around;
    });

.sm-block({
    flex-direction: column;
});


button {
    color: #fff;
    border: 1px solid rgb(254, 161, 0);
    background-color: rgb(254, 161, 0);
    border-radius: 4px;
    height: 51px;
    width: 160px;
    cursor: pointer;

    .sm-block({
        margin-bottom: 20px;
    });
}


.wrap-img {
    width: 255px;
    height: 71px;
    overflow: hidden;
    background-color: rgb(125, 133, 135);

    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        /* или более подходящее значение*/
        object-position: center;
    }
}

}

}



&__img {
    .col();

    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .xs-block({
        justify-content: center
    });


.about-row__wrap-img {
    width: 270px;
    height: 150px;

    .xs-block({
        margin: 10px 0;
    });
}
}

.about-row__wrap-img:nth-child(1) {
    margin-top: 50px;
    margin-bottom: 10px;

    .xs-block({
        margin: 10px 0;
    });
}

.about-row__wrap-img:nth-child(4) {
    margin-top: -50px;

    .xs-block({
        margin: 10px 0;
    });
}


}