.button-orange {
  border: 1px solid #fea100 !important;
  border-radius: 4px !important;
  background-color: #fea100 !important;
  .adaptive-prop(width, 200, 150);
  .adaptive-prop(height, 50, 40) !important;
  .adaptive-prop(font-size, 14, 12) !important;

  font-family: Sintony, FiraSans;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.143 !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  margin: 5px !important;

  &:hover {
    border: 1px solid #fea100 !important;
    background-color: #ffb12b !important;
    scale: 1.02 !important;
  }

  &:active {
    box-shadow: 0 2px #ca8102 !important;
    transform: translateY(2px) !important;
  }
}
