.rstr_comment {

   font-size: 14px;
   font-family: "Sintony";
   color: #5c6369;
   font-weight: 400;
   text-transform: lowercase;

   min-height: 167px;
   column-gap: @offset;
   padding-top: 30px;
   padding-bottom: 40px;
   // display: flex;
   // flex-wrap: wrap;

   .second-level {



      border: 1px solid #0515fd;


   }

   &__avatar {
      height: 70px;
      width: 70px;
      border-radius: 100%;
   }

   &__box {
      width: (770 / 1170) * 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 25px;

      p {

         margin-bottom: 0px;
      }


      span {
         line-height: 1.7;
         margin: 20px 0 30px 0;

      }
   }


   &__author {

      a {
         text-transform: uppercase;
         font-weight: bold;
         color: rgb(20, 20, 29);
      }

      p {
         color: #fea100;
         text-transform: lowercase;
         font-weight: 400;
         display: inline-block;
         margin-left: 20px;
      }

   }

   .comment-reply-link {

      line-height: 1;
      text-transform: capitalize;
      font-weight: 800;
      color: rgb(20, 20, 29);

      p {
         display: inline-block;
         margin-left: 20px;
      }

   }

   /* .reply__icon */

   &__reply-icon {
      height: 14px;
      width: 14px;

      display: inline-block;

   }
}

.reply {}